@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("./fonts/stylesheet.css");
/*Typography*/

h1,
h2 {
  font-family: charterbold;
  font-weight: bolder;
}
p {
  font-family: charterregular;
}
/*Cards*/
#imagePostCard {
  width: 48px;
  border-radius: 50%;
}
.cardPost {
  display: inline-flex;
}

.card img {
  width: 88px;
  border-radius: 50%;
}
/*Main Containers*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.container .wrap {
  flex-wrap: wrap;
}

.container .button {
  align-items: center;
}
.left {
  background-color: aqua;
  width: 300px;
}

.center {
  background-color: beige;
  padding: 5em;
}

.right {
  background-color: blanchedalmond;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
li {
  list-style: none;
}

/*Button Container*/
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.buttons button {
  background: black;
  color: white;
  padding: 1em;
  border-radius: 20px;
  border: none;
}

.buttons .container a {
  color: rgba(26, 137, 23, 1);
  text-decoration: none;
}

.inputBar {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background: white;
}

.inputBar input {
  border: none;
  height: 25px;
}

.inputBar input:active {
  border: none;
}

#iconsmsg {
  stroke: white;
}

.greenButton {
  background-color: rgba(26, 137, 23, 1);
  border: none;
}
